extends layout

block content
  h1 Your plants:

  #plants.slide
    ul.plants
      each value, id in values
        li
          if value < 20
            img(src="/images/flask_empty.png", width=24)
          else if value < 40
            img(src="/images/flask.png", width=24)
          else
            img(src="/images/flask_full.png", width=24)

          = id

