doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.1.4.4.js")
    script(src="/javascripts/cufon.js")
    script(src="/javascripts/font.js")
    script(src="/javascripts/config.js")
    script(src="/javascripts/water.me.js")
    //if IE
      script(type="text/javascript", src="http://dygraphs.com/excanvas.js")
    script(type="text/javascript", src="http://dygraphs.com/dygraph-combined.js")
    block head
  body
    #wrap
      nav
        h1
          a#logo(href="../") water<span>.me</span>
        ul#nav
          li
            a(href="/") Home
          if user
            li
              a(href="/plants") Your plants
            li
              a(href="/plants/add") Add a plant
          else
            li
              a(href="/login") Login
            li
              a(href="/register") Register
          block navigation
        #shadow
      #content
        block content
